In [2]:
import pandas as pd
import numpy as np
from docplex.mp.model import Model

In [9]:
static = pd.read_csv('static_graph.csv')
detected = pd.read_csv('detection_graph.csv')
#rename x to x1 and y to y1 and z to z1
detected = detected.rename(columns={'x':'x1', 'y':'y1', 'z':'z1'})
#merge on name
df = pd.merge(static, detected, on='name')
#leave only row 1 using iloc
df = df.iloc[1:2]
df

,name,number_x,x,y,z,parent,number_y,x1,y1,z1
1,conn_a,104,20.0,-50.0,-9.0,root_cross_right,104,20.0,-50.0,-9.0

In [3]:
qcqp = Model('quadratic')